---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Article from "../../components/Article.astro";
//As this will be as a static route, we can set it to prerender
export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
---

<BaseLayout
  seo={{
    title: post.data.title,
    description: post.data.excerpt,
    /* image: { src: "/images/curtain.svg", alt: "Curtain" }, */
  }}
>
  <main class="wrapper py-20">
    <article class="w-5/6" contenteditable="">
      <Article post={post} />
    </article>
  </main>
</BaseLayout>
