---
import PortableText from "../components/PortableText.astro";
import Separator from "../components/Separator.astro";
import SocialBar from "../components/SocialBar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getFullBiography, getSocialLinks } from "../sanity/util";
const bio = await getFullBiography();
const socialLinks = await getSocialLinks();
---

<BaseLayout seo={{
  title: "About",
  description: "Francisco Andrade is a Web Developer based in Quito Ecuador who strives to provide the best solutions for your unique needs. Whether you require the use of cutting-edge technologies or prefer to work with more traditional tools, I am committed to helping you achieve your goals",
  /* image: { src: "/images/curtain.svg", alt: "Curtain" }, */
}}>
  <main class="wrapper py-20">
    <section class="w-full md:w-3/4">
      <h1 class="underlined_title">About</h1>
      <PortableText portableText={bio.full_bio} />
      <Separator classes="my-10" />
      <footer class="flex gap-4 items-center pb-12">
        <div class="photo">
          <img
            class="rounded-full w-16 h-16 md:w-20 md:h-20 lg:w-32 lg:h-32 object-cover"
            src={bio.photo.asset.url}
            alt="Photograph of Juan Francisco Andrade"
          />
        </div>

        <SocialBar resume={bio.resume.asset.url} socialLinks={socialLinks} />
      </footer>
    </section>
  </main>
</BaseLayout>

<style>
  .photo {
    @apply rounded-full;
    position: relative;
    padding: 1px;
    border: 3px solid transparent;
    background-clip: padding-box;
  }
  .photo::before {
    @apply rounded-full;
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: -3px;
    background-image: var(--card-gradient);
    z-index: -1;
  }
</style>
