---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
// Get all entries from a collection. Requires the name of the collection as an argument.
const allBlogPosts = await getCollection("blog");
---

<BaseLayout title="Welcome to Astro.">
  <main class="wrapper">
    {
      allBlogPosts.map((post) => {
        return (
          <div>
            <h1>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h1>
          </div>
        );
      })
    }
  </main>
</BaseLayout>

<style></style>
