---
import Project from "../components/Project.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getProjects } from "../sanity/util";
const projects = await getProjects();
---

<BaseLayout title="Francisco Andrade | Projects">
  <main class="wrapper py-20">
    <section>
      <h1>Projects</h1>
      <p>
        This page showcases several projects, from real case studies to proof of
        concepts, courses and UI design. Many of them live in github
        repositories publicly, so if you feel curious about them, just <a
          href="/contact">contact me</a
        >
        and we can chat about them.
      </p>

      <div class="mt-16 projects">
        {
          projects.map((project) => (
            <div class="mb-16">
              <Project {project} />
            </div>
          ))
        }
      </div>
    </section>
  </main>
</BaseLayout>

<style></style>
