---
import ArticleMeta from "./ArticleMeta.astro";
const { post } = Astro.props;
const { Content } = await post.render();
---

<h1>{post.data.title}</h1>
<div
  class="mt-4 border-b border-white-touch my-12 flex justify-between items-baseline pb-8"
>
  <ArticleMeta post={post.data} />
  <a href="/blog">Back to the Blog index</a>
</div>
<Content />
