---
import { formatDate } from "../util";
const { post, overrideClasses } = Astro.props;
---

<p class={`mt-4 italic ${overrideClasses && overrideClasses.join(" ")}`}>
  <span class="text-gray-normal/70">Published on:</span>
  <span class="text-gray-normal/70">{formatDate(post.pubDate)}</span>
</p>
