---
const { video } = Astro.props;
---

<div class="card article-image">
  <iframe
    width="560"
    height="315"
    src=`https://www.youtube.com/embed/${video}`
    allowfullscreen></iframe>
</div>
