---
const { nav } = Astro.props;
---

<header class="wrapper">
  <div
    class="md:flex md:justify-between md:items-baseline text-lg pt-8 pb-5 md:pb-0 border-b border-gray-lighter/30"
  >
    <h1
      class="mt-0 mb-6 md:text-left text-center text-2xl tracking-tighter italic font-bold font-mono"
    >
      <a href="/" class="flex flex-col"
        >Francisco Andrade <span
          class="self-end text-base tracking-normal visually-hidden"
          >Website</span
        ></a
      >
    </h1>
    <nav aria-labelledby="main-nav">
      <span hidden id="main-nav">Main Navigation</span>
      <ul
        class="flex flex-wrap justify-center md:justify-between gap-2"
        role="list"
      >
        {
          nav.map((item) => {
            const linkPath = `/${item.page_link}`;

            return (
              <li class="mr-4">
                <a
                  class="text-gray-normal relative block h-full font-mono"
                  href={linkPath}
                  aria-current={`${
                    Astro.url.pathname === linkPath ? true : false
                  }`}
                >
                  {item.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  ul li:last-child {
    @apply mr-0;
  }

  ul li a::before {
    content: "";
    position: absolute;
    bottom: -1.58rem;
    margin-left: 0;
    width: 100%;
    right: 10;
    height: 2px;
    will-change: transform;
    transition: transform 0.3s ease-in-out;
    transform: scale(0);
    background-image: var(--button-gradient);
    background-size: cover;
    background-position: center;
  }

  @media (max-width: 800px) {
    ul li a::before {
      bottom: -1.33rem;
    }
  }

  ul li a:hover::before {
    content: "";
    will-change: transform;
    position: absolute;
    left: 0;
    width: 100%;
    margin-left: 0px;
    background-image: var(--button-gradient);
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }

  ul li a[aria-current="true"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 1;
    margin-left: 0px;

    background-image: var(--button-gradient);
    background-size: cover;
    background-position: center;
  }
</style>
