---
const { link, name, size } = Astro.props;
---

<a
  href={link}
  class={`btn-link btn-${size} relative transition will-change-transform duration-1000 flex items-center bg-gray-normal bg-clip-padding text-accent font-mono rounded-md ring-1 ring-accent shadow-md shadow-gray-light no-underline;`}
>
  <slot />
  {name}
</a>

<style>
  a:hover {
    @apply bg-gray-light scale-110 transition transform duration-75 will-change-transform;
  }
  .btn-sm {
    @apply text-sm px-2 py-1;
  }
  .btn-md {
    @apply text-lg px-3 py-2;
  }
</style>

<script>
  import { gsap } from "gsap";
  const links = document.querySelectorAll(".btn-link");

  function animateLink(e) {
    const ln = e.currentTarget;
    gsap.to(ln, { rotation: 360, duration: 1, skewX: -10 });
  }

  links.forEach((link) => {
    link.addEventListener("mouseenter", animateLink);
    link.addEventListener("mouseleave", animateLink);
  });
</script>
