<div class="w-full h-64 absolute bottom-0 -z-10 hidden"></div>

<style>
  div {
    opacity: 1;

    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      hsl(45, 67%, 99%) 100%
    );
  }
</style>
