---
import PortableText from "./PortableText.astro";
import ServiceIcon from "./icons/ServiceIcon.astro";

const { service } = Astro.props;
---

<ServiceIcon iconName={service.icon_name} />
<h3 class="mb-2 mt-4">{service.title}</h3>
<PortableText portableText={service.description} />

<style>
  h2 {
    @apply h-10  mt-2 flex items-center;
  }
</style>
