---
const { keyText } = Astro.props;
---

<div class="technology">
  <slot name="tech-logo" />
  <span class="pt-2 text-gray-light text-sm italic">{keyText}</span>
</div>

<script>
  import { slideInline, slideInStagger } from "../animations";

  const technologies = document.querySelectorAll(".technology");
  const techSection = document.querySelector(".tech-grid");

  slideInStagger(technologies, 10, "120deg", techSection);
</script>
