---
import "../styles/global.css";
import { useSanityClient } from "astro-sanity";
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";

const confQuery = `
*[_type=='siteConfiguration'][0]
  			{
  				'mainNav':nav_items[]->,
				  'siteOwner':site_name
 			} 
`;

const { mainNav } = await useSanityClient().fetch(confQuery);

const orderedMainNav = mainNav.sort((a, b) => {
  return a.nav_order - b.nav_order;
});

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO {...seo} />
  </head>

  <body class="relative">
    <div class="bg-accent gradient w-full h-3"></div>
    <Header nav={orderedMainNav} />
    <slot />
    <footer
      class="flex items-center justify-center bg-accent gradient relative"
    >
      <p
        class="opacity-90 text-accent font-mono tracking-wide w-full flex text-center items-center justify-center bg-gray-bold p-2 mt-0"
      >
        Built by Francisco Andrade A. &copy; {new Date().getFullYear()}
      </p>
    </footer>
  </body>
</html>
